{% extends 'layout/base_layout.html' %}
{% block content %}

<div class="container-fluid">

    <div class="row">

        <!-- Left Genre Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>{{ genre.genreName }} </h1>
                </div>
            </div>
        </div>

        <!-- Right Movie Info -->
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Movie</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="genre" value="{{ genre }}">
                        {% include 'movies/form_template.html' %}
						
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>


</div>

{% endblock %}