{% extends 'layout/base_layout.html' %}
{% block content %}
<h4>Movies for {{genre.genreName}} genre:</h4>

{% if error_message%}
<div class="alert alert-danger" role="alert">
	{{error_message}}
</div>

{% endif %}

<form action="/movies/{{ genre.id }}/favorite/" method="post">
	{% csrf_token %}
	<div class="row">
		{% for movie in genre.movie_set.all %}
			<div style="margin-top: 5px;" class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">
					{% if movie.is_favorite %}
						<img src= "http://i.imgur.com/b9b13Rd.png" />
					{% endif %} {{movie.title}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{movie.releasedate}} ({{movie.rating}})</h6> 
					<p class="card-text">{{movie.description}}</p> 
					<input type="radio" id="movie{{ forloop.counter }}" name="movie" value="{{ movie.id }}"/>
					<label for="movie{{ forloop.counter }}" class="card-link">Favorite</label>
				  </div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col">
			<input type="submit" class="btn btn-primary" value="Favorite">
		</div>
		<div class="col">
			<a href="/movies/{{ genre.id }}/add_movie/">
				<input type="button" class="btn btn-primary" value="Add Movie">
		</div>
	</div>
	
</form>

	

{% endblock %}