{% extends 'layout/base_layout.html' %}
{% block content %}

{% if error_message%}
<div class="alert alert-danger" role="alert">
	{{error_message}}
</div>
{% endif %}

<form action="/movies/movies/{{ movie.id }}/" method="post">
	{% csrf_token %}
	<div class="row">
			<div style="margin-top: 5px;" class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">{{movie.title}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{movie.releasedate}} ({{movie.rating}})</h6> 
					<p class="card-text">{{movie.description}}</p> 
				  </div>
				</div>
			</div>
	</div>
</form>
{% endblock %}