{% extends 'layout/base_layout.html' %}
{% block content %}
<h4>Welcome to our website!</h4><br>
{% if all_genres %}
    <h5>All existing genres are listed below:</h5>
	<div>
        {%for genre in all_genres %}
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">{{ genre.genreName }}</h5>
				<a href="/movies/{{ genre.id }}/" class="card-link">See the Movies</a>
			  </div>
			</div>
	    {% endfor %}
	</div>
{% else %}
    <div class="alert alert-primary" role="alert">Currently there's no genre in the database</div>
{% endif %}
<br>
<br>
{% if all_movies %}
    <h5>All existing movies are listed below:</h5>
	<div>
        {%for movie in all_movies %}
			<div style="margin-top: 5px;" class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{movie.title}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{movie.releasedate}} ({{movie.rating}})</h6> 
					<p class="card-text">{{movie.description}}</p> 
				  </div>
				</div>
			</div>
	    {% endfor %}
	</div>
{% else %}
    <div class="alert alert-primary" role="alert">Currently there's no genre in the database</div>
{% endif %}
{% endblock %}	