{% extends 'layout/base_layout.html' %}
{% block content %}

{% if all_genres %}
    <h5>All existing genres are listed below:</h5>
	<div>
        {%for genre in all_genres %}
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">{{ genre.genreName }}</h5>
				<a href="/movies/{{ genre.id }}/" class="card-link">See the Movies</a>
			  </div>
			</div>
	    {% endfor %}
	</div>
{% else %}
    <div class="alert alert-primary" role="alert">Currently there's no genre in the database</div>
{% endif %}
{% endblock %}	
	

