{% load static %}
<html>
    <head>
        <title>Movies</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	   <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/movies/">Homepage</a>
			<a class="navbar-brand" href="/movies/movies">Movies</a>
			<a class="navbar-brand" href="/movies/genres">Genres</a>
			<a class="navbar-brand" href="/movies/robot">Robot</a>
			<form class="form-inline my-2 my-lg-0">
			    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<a class="navbar-brand" href="/movies/logout">Log Out</a>
			<a class="navbar-brand" href="/movies/register">Register</a>
</nav>
        <div class="content container">
		 {% block content %}
         {% endblock %}
        </div>
    </body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
{% block content %}
{% if all_genres %}
    <h5>All existing genres are listed below:</h5>
	<div>
        {%for genre in all_genres %}
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">{{ genre.genreName }}</h5>
				<a href="/movies/{{ genre.id }}/" class="card-link">See the Movies</a>
			  </div>
			</div>
	    {% endfor %}
	</div>
{% else %}
    <div class="alert alert-primary" role="alert">Currently there's no genre in the database</div>
{% endif %}
<br>
<br>
{% if all_movies %}
    <h5>All existing movies are listed below:</h5>
	<div>
        {%for movie in all_movies %}
			<div style="margin-top: 5px;" class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{movie.title}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{movie.releasedate}} ({{movie.rating}})</h6> 
					<p class="card-text">{{movie.description}}</p> 
				  </div>
				</div>
			</div>
	    {% endfor %}
	</div>
{% else %}
    <div class="alert alert-primary" role="alert">Currently there's no genre in the database</div>
{% endif %}
{% endblock %}