{% extends 'layout/base_layout.html' %}
{% block content %}
{% if all_movies %}
    <h5>All existing movies are listed below:</h5>
	<div>
        {%for movie in all_movies %}
			<div style="margin-top: 5px;" class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">
					{% if movie.is_favorite %}
						<img src= "http://i.imgur.com/b9b13Rd.png" />
					{% endif %} {{movie.title}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{movie.releasedate}} ({{movie.rating}})</h6> 
					<p class="card-text">{{movie.description}}</p> 
					<input type="radio" id="movie{{ forloop.counter }}" name="movie" value="{{ movie.id }}"/>
					<label for="movie{{ forloop.counter }}" class="card-link">Favorite</label>
				  </div>
				</div>
			</div>
	    {% endfor %}
	</div>
{% else %}
    <div class="alert alert-primary" role="alert">Currently there's no genre in the database</div>
{% endif %}
{% endblock %}	