<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/movies/">Homepage</a>
  <a class="navbar-brand" href="/movies/movies">Movies</a>
  <a class="navbar-brand" href="/movies/genres">Genres</a>
  <a class="navbar-brand" href="/movies/robot">Robot</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <a class="navbar-brand" href="/movies/login">Log In</a>
  <a class="navbar-brand" href="/movies/register">Register</a>
  <a class="navbar-brand" href="/movies/create_genre">Create Genre</a>
</nav>